// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pie { width: 800px; height: 600px; }

.brand img { width: 250px; }
.navbar-inner { background: white !important; }
h1 { margin-top: 20px; }

#disqus_thread { margin-top: 20px; }
